<?xml version="1.0"?>
<launch>

  <!-- ===== ROBOT DESCRIPTION (if not already loaded) ===== -->
  <param name="robot_description"
    command="$(find xacro)/xacro
    $(find colour_sorting_robot)/urdf/robot.urdf.xacro"/>

  <!-- ===== ROBOT STATE PUBLISHER ===== -->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- ===== JOINT STATE PUBLISHER WITH GUI ===== -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui"/>

  <!-- ===== RVIZ ===== -->
  <node name="rviz" pkg="rviz" type="rviz"
    args="-d $(find colour_sorting_robot)/config/robot.rviz"
    required="true"/>

</launch>
